.container{
 
    padding: 0 100px;
    display: flex;
    justify-content: center;
    background-position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.display{
  grid-template-columns: 200px 200px;
  grid-template-rows: auto;
  grid-template-areas: 
    "me others";
}

body {
  height: 100%;
}

.signin { 
    text-align: center;
/*    padding-top: 200px; */
    
}
.signup {
    text-align: center;
/*    padding-top: 300px; */
    
}

.login {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: baseline;
  font-size: 4;
 
}

#submit{
  height: 100px;
  width: 300px;
}


#img {
  height: 100px;
}

#logo {
  height: 100px

#img2 {
  height: 250px;
}

.info {
  font-size: 200%;
  justify-content: center;
  text-align: center;
  vertical-align: baseline;
  margin-bottom: 30px;
}

mark {
  background-color: black;
  color: white;
  font-size: 15px;
}