<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/style.css">
<body>
    <style>
       body {
           background-image: url("../img/cuddle_background.jpg");
           background-repeat: no-repeat;
           background-position: center;
       }
    </style>
        <div class="container">
            <header>
                <img id="logo" src="img/csumb_logo.png">
                    <form class= "main" action='/info'>
                        <input type= "submit" id="submit" value="Sign Up!">
                    </form>
            </header>
        </div>
</body>
</html>
