<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/style.css">
<body>
    <style>
       body {
           background-image: url("../img/cuddle_background.jpg");
           background-repeat: no-repeat;
           background-position: center;
       }
    </style>
        <div class="container">
            <header>
                <img id="img2" src="img/Cuddle app img2.png">
                    <form class= "main" action='/info'>
                        <button type="button" class="btn btn-secondary btn-lg"><font size="10"><strong>Sign Up!</strong></font></button>
                        <!--<input type= "submit" id="submit" value="Sign Up!"> -->
                    </form>
            </header>
        </div>
</body>
</html>
