<!DOCTYPE html>
<html>
     <link rel="stylesheet" href="css/style.css">
    <head>
        
    </head>
    <body>
        <h1 style="text-align: center">Info Page!</h1>
        <div class="info">
            <input name="name" type="text" placeholder="Your Name"><br>
            <input name="age" type="number" placeholder="Your Age"><br>
     <select name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select><br>
            <input name="number" type="number" placeholder="Your Phone Number"><br>
            <input name="zip" type="number" placeholder="Your Zip Code"><br>
        </div>
        <form method=POST action="/interface" class="login">
            <button type="submit" ><font size="4"><strong>Submit</strong></font></button>
        </form>
    </body>
</html>