<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/style.css">
    <header>
            <h1 style="text-align: center"><strong>Welcome to CuddleMe!</strong></h1>
    </header>
<body>
    <div class="interface">
        {% for person in all_people_key %}
        <div>
            {{person.name}}
            {{person.age}}
            {{person.gender}}
            {{person.number}}
            {{person.zip_code}}
             
        </div>
        {% endfor %}
        
    </div>
</body>
</html>