<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/style.css">
    <header>
        <font color = "white" size = 64px>
            <h1 style="text-align: center"><strong>Welcome to CuddleMe!</strong></h1>
        </font>
    </header>
<body>
    <style>
       body{
           background-image: url("../img/Background1.png");
           background-repeat: no-repeat;
           background-position: top;
           background-size:140%;
       }
    </style>
    <div class= "display">
        {% for person in all_people_key %}
        <div class="me">
            <hr>
            <mark>{{person.name}}
            {{person.age}}
            {{person.gender}}
            {{person.number}}
            {{person.zip_code}}</mark>
        </div>
        {% endfor %}
        
    </div>
</body>
</html>