<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/style.css">
    <header>
        <font color = "white" size = 64px>
            <h1 style="text-align: center"><strong>Welcome to CuddleMe!</strong></h1>
        </font>
    </header>
<body>
    <style>
       body{
           background-image: url("../img/cuddles.jpg");
           background-repeat: no-repeat;
           background-position: top;
           background-size:140%;
       }
    </style>
    <div>
        {% for person in all_people_key %}
        <div>
            <hr>
            <mark>{{person.name}}</mark>
            <mark>{{person.age}}</mark>
            <mark>{{person.gender}}</mark>
            <mark>{{person.number}}</mark>
            <mark>{{person.zip_code}}</mark>
        </div>
        {% endfor %}
        
    </div>
</body>
</html>