<!DOCTYPE html>
<html>
     <link rel="stylesheet" href="css/style.css">
    <body>
        <h1 style="text-align: center">Log In Here!</h1>
        <div class="info">
            <input name="number" type="number" placeholder="Your Phone Number"><br>
            <input name="password" type="text" placeholder="Your Password"><br>
        </div>
        <form method=POST action="/interface" class="login">
            <button type="submit" ><font size="4"><strong>Submit</strong></font></button>
        </form>
    </body>
</html>