<!DOCTYPE html>
<html>
     <link rel="stylesheet" href="css/style.css">
    <body>
        <style>
       body{
           background-image: url("../img/cuddles.jpg");
           background-repeat: no-repeat;
           background-position: top;
           background-size:140%;
       }
    </style>
        <font color = "white" size = 64px>
        <h1 style="text-align: center">Log In Here!</h1>
        </font>
        <div class="info">
            <input name="number" type="number" placeholder="Your Phone Number"><br>
            <input name="password" type="text" placeholder="Your Password"><br>
        </div>
        <form method=POST action="/interface" class="login">
            <button type="submit" ><font size="4"><strong>Submit</strong></font></button>
        </form>
    </body>
</html>