<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/style.css">
<body>
    <style>
       body{
           background-image: url("../img/cuddle_background.jpg");
           background-repeat: no-repeat;
           background-position: center;
       }
    </style>
        <div class="container">
            <header>
                        <img id="img2" src="img/CuddleText.png">  
                    <form class= "signin" action='/signin'>
                        <button type="submit" ><font size="10"><strong>Log In!</strong></font></button>
                    </form>
                        <img id="img" src="img/CuddleMeLogo.png">
                    <form class= "signup" action='/signup'>
                        <button type="submit" ><font size="10"><strong>Sign Up!</strong></font></button>
                    </form>
            </header>
        </div>
</body>
</html>
